
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
    width: 100%;
    background-color: bisque;
}

.navbar a {
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    float: left;
}

.navbar a:hover {
    color: black;
    background: BurlyWood;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: bisque;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .btn {
  background-color: burlywood;
}
 
.dropdown-content li {
  display: block;
}


.table-bordered img {
  height: 330px;
}

.table-bordered img:hover {
  width: 100%;
  height: 100%;
}

.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: bisque;
  text-align: center;
}
