.navbar {
    width: 100%;
    background-color: bisque;
}

.navbar a {
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    float: left;
    
}

.navbar a:hover {
    color: black;
    background: BurlyWood;
}